.grid {
  background-color: yellow;
  width: 900px;
  height: 500px;
  display: grid;
  position: relative;
}
.bird {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
}
.pipe {
  width: 60px;
  position: absolute;
  background-color: green;
}
